name: Tag repo with release notes
on:
  workflow_call:

jobs:
  tag:
    name: Tag and create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Bump version and push tag
        uses: otrl/github-tag-action@v1.3
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          DEFAULT_BUMP: patch
          VERBOSE: true
          
      - name: Create release
        uses: otrl/github-release-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
