name: build scala pull request containers and publish them to docker cloud

on:
  workflow_call:
    inputs:
      java_version:
        required: true
        type: string
      scala_version:
        required: true
        type: string
      repo_name:
        required: true
        type: string
      runs_on:
        required: false
        default: "ubuntu-latest"
        type: string
      build_command:
        description: Customisable build command without "sbt ++[version]" prefix
          ###
          # Can be single or multi-line commands
          #
          # e.g.
          # build_command: |
          #  test fun:test
          #  common/publish client/publish
          #  --warn service/debian:packageBin
        required: false
        type: string
        default: |
          clean test docker:publishLocal
    secrets:
      docker_username:
        required: true
      docker_password:
        required: true
      artifactory_user:
        required: false
      artifactory_pass:
        required: false


jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ inputs.runs_on }}
    env:
      ARTIFACTORY_USER: ${{ secrets.artifactory_user }}
      ARTIFACTORY_PASS: ${{ secrets.artifactory_pass }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java_version }}
          cache: 'sbt'

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}

      - name: build and test the image
        run: |
          set -e
          sbt ++${{ inputs.scala_version }} ${{ inputs.build_command }}

      - name: list images
        run: docker image ls

      - name: Docker Push PR to docker cloud
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          set -e
          PULL_TAG="pull-${{ github.event.number }}"          
          docker tag ${{ inputs.repo_name }} ${{ inputs.repo_name }}:${PULL_TAG} 
          docker push ${{ inputs.repo_name }}:${PULL_TAG}
          
