name: build scala deb packages tag containers and publish them

on:
  workflow_call:
    inputs:
      java_version:
        required: true
        type: string
      scala_version:
        required: true
        type: string
      repo_name:
        required: true
        type: string
      service_name:
        required: true
        type: string
      runs_on:
        required: false
        default: "ubuntu-22.04"
        type: string
      build_command:
        description: Customisable build command without "sbt ++[version]" prefix
        ###
        # e.g.
        #  test fun:test
        #  common/publish client/publish
        #  warn service/debian:packageBin
        required: false
        type: string
        default: "test warn debian:packageBin"

      docker_build_module:
        description: Customisable docker build module path
        required: false
        type: string
        default: "."
    secrets:
      docker_username:
        required: true
      docker_password:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      ecr_repo:
        required: true
      artifactory_user:
        required: false
      artifactory_pass:
        required: false

jobs:
  create-tag-and-release:
    # The type of runner that the job will run on
    runs-on: ${{ inputs.runs_on }}
    env:
      GIT_DISCOVERY_ACROSS_FILESYSTEM: 1
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      ARTIFACTORY_USER: ${{ secrets.artifactory_user }}
      ARTIFACTORY_PASS: ${{ secrets.artifactory_pass }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Bump version and push tag
        if: ${{ github.ref_type != 'tag' }}
        uses: otrl/github-tag-action@v1.4
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          DEFAULT_BUMP: patch
          VERBOSE: true

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java_version }}
          cache: 'sbt'

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1.1.12

      - name: Determine tag or version
        id: determine-tag
        run: |
          if [[ "${{ github.ref_type }}" == 'tag' ]]; then
            echo "GIT_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "GIT_TAG=`echo $(git tag --sort=committerdate | tail -1)`" >> $GITHUB_ENV
          fi

      - name: set package version
        run: |
          set -e
          echo "DEBVERSION=$GIT_TAG" >> $GITHUB_ENV

      - name: edit the build file
        run: sed -i "s/LATEST/$DEBVERSION/g" /home/runner/work/${{ inputs.service_name }}/${{ inputs.service_name }}/build.sbt

      - name: read the file again
        run: cat /home/runner/work/${{ inputs.service_name }}/${{ inputs.service_name }}/build.sbt

      - name: build and test the deb file
        run: |
          set -e
          sbt ++${{ inputs.scala_version }} ${{ inputs.build_command }}
          echo "Revised Package Version $DEBVERSION"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}

      - name: build the docker image
        run: |
          set -e
          docker build --build-arg version=$DEBVERSION -t ${{ inputs.repo_name }} ${{ inputs.docker_build_module }}

      - name: Docker Push tag to docker cloud
        run: |
          set -e
          docker tag ${{ inputs.repo_name }} ${{ inputs.repo_name }}:$GIT_TAG
          docker push ${{ inputs.repo_name }}:$GIT_TAG

      - name: Create release
        if: ${{ github.ref_type != 'tag' }}
        uses: otrl/github-release-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
